.bundle
.DS_Store
.idea
.ruby-gemset
.ruby-version
.rvmrc
/.sass-cache
/storage
/tmp
coverage/
db/*.sqlite3
db/cms_fixtures/test-site/
db/development_structure.sql
db/schema.rb
db/test.sqlite3*
Gemfile.lock
gemfiles/*.gemfile.lock
log/
pkg
public/system/
rdoc
tmp/**/*
vendor/bundle/
